/*formatações gerais*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    color: white;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
}

button:focus{
    outline: none;
}

/*--início header--*/
#txt_logo{
   color: white; 
}

#txt_logo:hover{
    text-decoration: none;
}

.nav{
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: white;
    padding-block: 16px;
}

.hamburguer{
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
    display: none;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media(max-width: 750px){
    .hamburguer{
        display: block;
        z-index: 1;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: purple;
        clip-path: circle(100px at 90% -20%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        pointer-events: none;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #gif{
        width: 70px;
        margin-left: -50px;
    }

    #txt_logo h3{
        font-size: 1.2em;
        margin-left: -12px;
    }

    .img_capa{
        min-width: 200px;
        margin-left: 70px;
    }

    #txt_principal{
        text-align: center;
        margin-top: 30px;
    }

    .botão-alinhamento{
       padding-left: 110px;
    }
 }
 /*--fim header--*/

#txt_principal{
    font-size: 3.6em;
}

#botão_customizado{
    background: purple;
    color: white;
    border-radius: 20px;
    padding: 15px 25px 15px 25px;
    font-size: 1.1em;
}

#botão_customizado:hover{
    background: rgb(85, 0, 85);
}

#linha{
    border: 1px solid purple;
    margin-top: 70px;
    margin-inline: 50px;
}

